body{
    height: 100vh;
    font-family: 'Signika Negative', sans-serif;
    background-image: linear-gradient(to right, #d0dae0, #dce1e7, #e7e9ee, #f1f1f4, #fafafa);
}
main{
    padding-left: 5%;
    padding-right: 10%;
}
.container{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: $backgraundcolor4;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgb(224, 220, 220);
    label{
        color: $fontcolor2;
    }
    table{
        font-size: small;
    }
}