footer{
    background-color: $palettecolor3;
    text-align: center;
    padding-top: 25px;
    margin-top: 10px;
    width: 100%;
    a{
        padding: 8px;
        color: $fontcolor1;
        text-decoration: none;
    }
    p{
        padding-top: 8px;
        margin-bottom: 8px;
        color: $fontcolor1;
    }
}

