footer{
    background-color: $palettecolor3;
    text-align: center;
    padding-top: 25px;
    margin-top: 10px;
    a{
        padding: 8px;
        color: $fontcolor1;
        text-decoration: none;
    }
    p{
        padding-top: 8px;
        margin-bottom: 0px;
        color: $fontcolor1;
    }
    i{
        display: inline-block;
        font-size: xx-large;
        height: auto;
        color: $backgraundcolor2;
        text-align: center;
        &:hover{
            color: $fontcolor1;
            transform: translateY(-5px);
            transition: 0.75s;
        }
    }
}
