header{
    width: 100%;
    height: fit-content;
    min-height: 100px;
    background-color: $palettecolor2;
    color: white;
    font-family: 'gilroy';
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    justify-content: center;
    text-align: center;
    h1{
        width: fit-content;
        height: fit-content;
        margin: 0px;
        padding-left: 10px;
    }
    .logo{
        height: 75px;
        width: 75px;
        min-width: 75px;
        border-radius: 50%;
        background-color: whitesmoke;
        img{
            align-items: center;
            &:hover{
                animation-duration: 0.75s;
                animation-name: mover_icono;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }
    }
}
@keyframes mover_icono {
    from{
        transform: translateY(-5px);
    }
    to{
        transform: translateY(5px);
    }
}
