
$backgraundcolor1: #388183;
$backgraundcolor2: #388183;
$backgraundcolor3: #f8755e;
$backgraundcolor4: #cacaca;

$fontcolor1: white;
$fontcolor2: black;

$bordercolor: black;

$palettecolor1:#1B262C;
$palettecolor2:#0F4C75;
$palettecolor3:#3282B8;
$palettecolor4:#BBE1FA;